h1{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:aliceblue
    
}
h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:aliceblue
}

h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:aliceblue
}
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:aliceblue
}

h4{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:aliceblue
    
}
